@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    src: local("Gilroy"),
    url("assets/fonts/Gilroy-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 600;
    src: local("Gilroy"),
    url("assets/fonts/Gilroy-Semibold.woff2") format("woff2");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 700;
    src: local("Gilroy"),
    url("assets/fonts/Gilroy-Bold.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Gilroy", "Inter", sans-serif;
    background: #252422;
    color: #fff;
}

.my-container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.my-transition {
    transition: 0.5s all ease-in;
}

.loading-container {
    width: 60px;
    height: 60px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid rgba(255, 255, 255, 0.05);
    border-radius: 50%;
}

.loading-spinner {
    width: 60px;
    height: 60px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid transparent;
    border-top: 4px solid #fff; /* White color for the spinner */
    border-radius: 50%;
    animation: spin 1.3s linear infinite; /* Spinning animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}